@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
    width: 100vw;
}

.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 60s infinite linear 0.5s both;
}

.scroll-infinity__item {
    width: 33.33vw; 
}

.scroll-infinity__item > img {
    width: 100%;
}

.background-logo {
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    max-width: 48%; 
}

li {
    font-size: 40px; 
    padding: 0 32px;
}

.go-game-pc {
    position: absolute;
    top: 80%;
    left: 24%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 40%; 
    text-align: center;
    z-index: 10;
}

.go-game-pc button {
    width: 100%;
    padding: 16px 0;
    font-size: 24px; 
}

.red-lite{
    opacity: 0.8;
    position: absolute;
    top: 2%;
    right: 0;
}

.pistol-img{
    opacity: 0.2;
    position: absolute;
    top: 25%;
    right: 8%;
    transform: scale(-1, 1);
}

.overlay-square {
    position: absolute;
    top: 20%;
    right: 120px;
    width: 520px; 
    height: 532px; 
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1; 
}

.id-room{
    position: absolute;
    top: 20%;
    right: 300px;
    font-size: 32px;
    z-index: 10; 
}

.qr-scan{
    position: absolute;
    top: 60%;
    right: -10px;
    z-index: 10; 
}

.link-copy{
    position: absolute;
    top: 80%;
    right: 300px;
    z-index: 10;
}