.text{
    font-size: 16px;
    color: #212121;
    padding: 24px;
    font-family:  Yuji Syuku,  sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    position: absolute; 
    bottom: 10px; 
    text-align: left; 
}