.trigger{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.cork {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.cork img {
    width: 72px;
    height: 72px;
}
.button-style {
    position: absolute;
    bottom: 6%;
    right: 4%;
  }
  
  .modal-wrapper {
    padding: 24px 0;
    border-radius: 8px;
    background-color: white;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;  
    align-items: center;  
}

.modal-description {
    font-size: 18px;
    padding: 0 36px;
    text-align: center;  
}

.modal-selection-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 16px;
    justify-content: center; 
}

.modal-row {
    display: flex;
    align-items: center;
    justify-content: center; 
}
